name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    # The branches below must be a subset of the branches above
    branches: [ "main" ]

jobs:

  lint:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.x"

    - name: Check out code
      uses: actions/checkout@v4

    - name: Verify dependencies
      run: |
        go mod verify
        go mod download

    - name: Installing static code analysis tools
      run: ./scripts/ci-lint-install.sh

    - name: Run checks
      run: ./scripts/ci-lint.sh
